@model KendamaShop.Models.Review

@{ ViewBag.Title = "Edit review"; }

<br />

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>}

<form method="post" action="/Reviews/Edit/@Model.ReviewId">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.ReviewId)

    @Html.Label("Stars", "Review stars (0-5 stars)")
    <br />
    @Html.EditorFor(m => m.Stars, new { htmlAtributes = new { @class = "form-control" } })
    <br /> <br />

    @Html.Label("Content", "Review content")
    <br />
    @Html.EditorFor(m => m.Content, new { htmlAtributes = new { @class = "form-control" } })
    <br /> <br />

    <button class="btn btn-sm btn-success" type="submit">Save</button>
</form>