@model KendamaShop.Models.Review

<form method="post" action="/Reviews/Edit/@Model.ReviewId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.ReviewId)
    @Html.HiddenFor(m => m.ProductId)

    @Html.Label("Stars", "Review stars")
    <br />
    @Html.EditorFor(m => m.Stars, new { htmlAtributes = new { @class = "form-control" } })
    <br /> <br />

    @Html.Label("Content", "Review content")
    <br />
    @Html.EditorFor(m => m.Content, new { htmlAtributes = new { @class = "form-control" } })
    <br /> <br />

    <button class="btn btn-sm btn-success" type="submit">Save</button>
</form>