@{ 
    ViewBag.Title = "List Users";
}

<br />

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <label>Search</label>
                        <input class="form-control form-control-lg form-controlborderless"
                               type="text" name="search" value="@ViewBag.SearchString" placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->



    </div>

    <br />
    <br />

    <div>
        <form method="post" action="/Products/SetSortingCriterium">
            <label for="sortParam">Sort products</label>
            <select name="sortParam" class="form-control">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="date_desc">Most recent</option>
                <option value="date_asc">Least recent</option>
                <option value="price_asc">Cheapest</option>
                <option value="price_desc">Most Expensive</option>
                <option value="rating_desc">Biggest rating</option>
                <option value="rating_asc">Smallest rating</option>
            </select>

            <div class="col-auto">

                <button class="btn btn-lg btn-success"
                        type="submit">
                    Sort
                </button>
            </div>
        </form>
    </div>

    @if (User.IsInRole("Admin") || User.IsInRole("Partner"))
    {
        <br />
        <br />

        <div>
            <a class="btn btn-success" href="/Products/New">Add new product</a>
        </div>

        <br />}

</div>

<br />
<br />

<div class="row my-flex-center">

    @foreach (KendamaShop.Models.Product prod in ViewBag.Products)
    {
    <div class="card shadow my-card-margin" style="width: 30%">
        @Html.Partial("ProductInfo", prod)
        <div class="card-footer">
            <a class="btn btn-sm btn-success full-width" href="/Products/Show/@prod.ProductId">Show product</a>
        </div>
    </div>
    }

</div>

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                @if (ViewBag.search != "")
                {
    <a href="/Products/Index?page=1&search=@ViewBag.SearchString"
       aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </a> }
else
{
<a href="/Products/Index?page=1" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
</a>}
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                if (ViewBag.search != "")
                {
<li>
    <a href="/Products/Index?page=@i&search=@ViewBag.SearchString">@(i)</a>
</li>
 }
else
{
<li><a href="/Products/Index?page=@i">@(i)</a></li>
}
}
            <li>
                @if (ViewBag.search != "")
                {
    <a href="/Products/Index?page=@(ViewBag.lastPage)&search=@ViewBag.SearchString" arialabel="Next">
        <span aria-hidden="true">&raquo;</span>
    </a> }
else
{
<a href="/Products/Index?page=@(ViewBag.lastPage)" arialabel="Next">
    <span aria-hidden="true">&raquo;</span>
</a>}
            </li>
        </ul>
    </nav>
</div>