@model KendamaShop.Models.Product

<br />

<ol class="breadcrumb">
    <li><h3>View product</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<a class="btn btn-info" href="/Products/Index">Back to products page</a>
<br />
<br />

<div class="row">
    <div class="col-4">
        <div class="card shadow" style="width: 18rem;">
            @Html.Partial("ProductInfo", Model)
            @if ((ViewBag.isPartner && ViewBag.currentUser == Model.PartnerId) || ViewBag.isAdmin)
            {
            <div class="card-footer">
                <div class="my-flex-space-between">
                    <a class="btn btn-sm btn-success pull-left" href="/Products/Edit/@Model.ProductId">Edit product</a>
                    <form method="post" action="/Orders/AddToCart/@Model.ProductId">
                        @Html.HttpMethodOverride(HttpVerbs.Put)
                        <button class="btn btn-sm btn-success">Add to Cart</button>
                    </form>
                </div>
            </div>      
            }
        </div>
    </div>

    <div class="col-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header">
                        Leave a review:
                    </div>
                    <div class="card-body">
                        <form method="post" action="/Products/Show">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            <input type="hidden" name="ProductId" value="@Model.ProductId" />
                            <label name="Content">Review content</label>
                            <br />
                            <textarea class="form-control" name="Content"></textarea>
                            <br />
                            <label name="Stars">Stars (0-5 stars):</label>
                            <br />
                            <input type="number" name="Stars" min="0" max="5" />

                            <button class="btn btn-sm btn-success" type="submit">Post review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @foreach (KendamaShop.Models.Review review in Model.Reviews)
        {
<div class="card shadow" style="margin-top: 10px;">
    @Html.Partial("ReviewInfo", review)
    @if (ViewBag.isAdmin || review.UserId == ViewBag.currentUser)
    {
    <div class="card-footer">
        <div class="my-flex-space-between">
            <a class="btn btn-sm btn-success pull-left" href="/Reviews/Edit/@review.ReviewId">Edit review</a>
            <form method="post" action="/Reviews/Delete/@review.ReviewId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit" class="btn btn-sm btn-danger pull-right">Delete Review</button>
            </form>
        </div>
    </div>          
        }

</div>}
    </div>
</div>