@model KendamaShop.Models.Product

<h1>@ViewBag.Message</h1>

<a class="btn btn-info" href="/Products/Index">Back to products page</a>

<div class="panel panel-default">
    @Html.Partial("ProductInfo", Model)
    <div class="panel-footer">
        <a class="btn btn-sm btn-succes" href="/Products/Edit/@Model.ProductId">Edit product</a>
        <form method="post" action="/Products/Delete/@Model.ProductId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-sm btn-danger" type="submit">Delete product</button>
        </form>
    </div>
</div>

<a class="btn btn-sm btn-info" href="/Reviews/New">Add review</a>

@foreach(KendamaShop.Models.Review review in Model.Reviews)
{
    <div class="panel panel-default">
        @Html.Partial("ReviewInfo", review)
        <div class="panel-footer">
            <a class="btn btn-sm btn-succes" href="/Reviews/Edit/@review.ReviewId">Edit review</a>
            <form method="post" action="/Reviews/Delete/@review.ReviewId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit" class="btn btn-sm btn-danger">Delete Review</button>
            </form>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Products/Show">
                    <div class="panel-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        <input type="hidden" name="ProductId" value="@Model.ProductId" />
                        <label name="Content">Review content</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        <br />
                        <label name="Stars">Stars:</label>
                        <br />
                        <input type="number" name="Stars" />

                        <button class="btn btn-succes" type="submit">Post review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>