
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Product description:
        <strong>@Model.Description</strong>
        <br />
        Product price:
        <strong>$@Model.Price</strong>
        <br/>
        Product rating:
        <strong>@Model.Rating</strong>
        </br>
        Product category:
        <strong>@Model.Category.CategoryName</strong>
        <br />
        <i class="glyphicon glyphicon-user"></i><i>Product added by: </i>
        <strong> @Model.User.UserName </strong>
    </div>