<div class="card-header">
    <strong>
        @Model.Title @if (ViewBag.ProductCount != null)
        {
            <p>Quantity @ViewBag.ProductCount[Model.ProductId]</p>
        }
    </strong>
</div>
<img src="data:image;base64,@Model.ImageFile" class="card-img-top" style="height: auto; max-height:200px; width: auto; margin: 0 auto;">
<div class="card-body">
    <i class="fas fa-align-justify"></i> <strong>Description:</strong> @Model.Description
    <br /><i class="fas fa-money-bill-wave"></i> <strong>Price: </strong>$@Model.Price
    <br /><i class="fas fa-smile"></i> <strong>Rating: </strong>
    @for (int i = 1; i <= Model.Rating; i++)
    {
        <i class="fas fa-star"></i>
    }
    @if (Math.Abs(Model.Rating - ((int)Model.Rating) - 0.5) < 0.001)
    {
        <i class="fas fa-star-half"></i>
    }
    <br /><i class="fas fa-cube"></i> <strong>Category: </strong>@Model.Category.CategoryName
    <br /> <i class="fas fa-user"></i> <strong>Added by: </strong>
     @Model.User.UserName
</div>