@model KendamaShop.Models.Category

@{ 
    ViewBag.Title = "Edit category";
}

<br />

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
<h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>}

<form method="post" action="/Categories/Edit/@Model.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.CategoryId)

    @Html.Label("CategoryName", "Category Name")
    <br />
    @Html.Editor("CategoryName")
    <br /><br />

    <button class="btn btn-success" type="submit">Save changes</button>
</form>

